body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0a192f;
  font-family: 'Open Sans', serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h1 {
  font-family: 'Oswald', serif;
  font-size: 2em;
}

h2 {
  font-family: 'Oswald', serif;
  font-size: 1.5em;
}

a {
  color: black;
}

i {
  font-size: xx-large;
}

i:hover {
  color: #a8b2d1;
}

.sidenav {
  height: 100%;
  width: 180px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #172a45;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #ccd6f6;
  display: block;
  font-family: 'Oswald', serif;
}

.sidenav a:hover, .sidenav i:hover {
  color: #64ffda;
}

.mobile-nav {
  display: none;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  background-color: #172a45;
  padding: 10px 0px;
  box-shadow: 0px 0px 5px 0px;
}

.mobile-nav button {
  margin-right: 10px;
  float: right;
  display: block;
}

.mobile-nav a {
  float: none;
  display: block;
  text-align: right;
  text-decoration: none;
  font-size: 25px;
  color: #ccd6f6;
  display: block;
  font-family: 'Oswald', serif;
  padding-right: 10px;
}

.mobile-nav p {
  position: absolute;
  margin: 0;
  padding-left: 10px;
  font-family: 'Oswald', serif;
  font-size: 25px;
  color: #64ffda;
}

.drop-button i:hover {
  color: #64ffda;
}

.drop {
  display: block;
}

.drop a:hover {
  color: #64ffda;
}

.hidden {
  display: none;
}

#highlight {
  padding: 6px 8px 6px 16px;
  color: #64ffda;
  display: block;
  font-family: 'Oswald', serif;
}

.container {
  margin-left: 180px;
  padding: 0px 50px;
  position: absolute;
}

.profile {
  display: flex;
  margin: 0 auto;
  background-color: #64ffda;
  justify-content: center;
  align-items: center;
}

.text-content {
  max-width: 60%;
  text-align: left;
  padding: 50px;
}

.notable {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: left;
  align-items: left;
}

.notable-project {
  display: flex;
  justify-content: center;
  align-items: left;
  padding: 20px 30px;
  background-color: #64ffda;
  text-align: left;
  transition: box-shadow .3s;
  margin-bottom: 10px;
}

.notable-project:hover {
  box-shadow: 0 0 11px #88fce1;
}

.project-description {
  margin-left: 0;
}

.other {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
}

.other-project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 30px;
  background-color: #64ffda;
  text-align: left;
  height: 300px;
  width: 300px;
  margin: 8px;
  transition: box-shadow .3s;
}

.other-project:hover {
  box-shadow: 0 0 11px #88fce1;
}

.social {
  font-size: 4rem;
}

.education {
  display: flex;
  margin: 0 auto;
  background-color: #64ffda;
  justify-content: center;
}

.education div {
  text-align: left;
  padding: 20px 30px;
  margin-top: 0;
}

#courses {
  margin-bottom: 20px;
}

#profile-pic {
  width: 350px;
  height: 350px;
  padding: 50px;
}

#project-pic {
  width: 400px;
  height: 225px;
  padding-left: 30px;
  margin-left: auto;
}

#tool {
  display: inline-block;
  margin-right: 7px;
  margin-bottom: 16px;
  padding: 5px 10px;
  color: #374054;
  background: #e4e4ea;
}

#credit {
  position: absolute;
  bottom: 20px;
  font-size: 1rem;
}

@media screen and (min-width: 1024px) {
  .container {
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    top: 50%;
  }
}

@media screen and (max-height: 900px) {
  .container {
    -ms-transform: translateY(0%);
    transform: translateY(0%);
    top: 50px;
  }
}

@media screen and (max-width: 1024px) {
  .profile {
    flex-direction: column-reverse;
  }
  .container {
    position: relative;
    padding-top: 50px;
  }
  #profile-pic {
    width: 200px;
    height: 200px;
    padding-top: 50px;
    padding-bottom: 0;
  }
  .text-content {
    padding-top: 0;
  }
  .notable-project {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #project-pic {
    padding: 0;
    margin: auto;
    width: 100%;
    height: auto;
  }
  .other {
    justify-content: center;
  }
}

@media screen and (max-width: 700px) {
  .mobile-nav {
    display: block;
  }
  .sidenav {
    display: none;
  }
  .container {
    margin-left: 0;
    padding: 10px;
    padding-top: 68px;
    top: 0;
  }
  .education {
    flex-direction: column;
  }
  #profile-pic {
    padding: 0;
    padding-top: 21px;
  }
  .text-content {
    padding: 0;
  }
  .other {
    padding: 0;
  }
  .other-project {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
  }
  .contact {
    padding-bottom: 26.56px;
  }
  .text-content i {
    font-size: 3.5rem;
    margin-bottom: 26.56px;
  }
  #courses {
    padding-top: 0px;
  }
  #courses h2 {
    margin-top: 0px;
  }
}

@media screen and (max-width: 500px) {
  .other-project {
    width: auto;
    height: auto;
  }
}